<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link href="{% static 'css/login_menu.css' %}" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body id = 'body'>
    <div class="inner_login">
        <div class="login_sowl">
            <h1>S.owl</h1>
            <form method="post" id="authForm" action="./login">{% csrf_token %}
                <input type="hidden" name="redirectUrl" value=" ">
                <fieldset>
                <legend class="screen_out">로그인 정보 입력폼</legend>
                <div class="box_login">
                    <div class="inp_text">
                    <label for="loginId" class="screen_out">아이디</label>
                    <input type="text" id="loginId" name="username" placeholder="ID" >
                    </div>
                    <div class="inp_text">
                    <label for="loginPw" class="screen_out">비밀번호</label>
                    <input type="password" id="loginPw" name="password" placeholder="Password" >
                    </div>
                </div>
                    <div class="error">
                    {% if error != false %}
                        {{ error }}
                    {% endif %}
                    </div>
                    <button type="submit" class="btn_login" >로그인</button>
                <div class="login_append">
                    <div class="inp_chk"> <!-- 체크시 checked 추가 -->
                    <input type="checkbox" id="keepLogin" class="inp_radio"  name="keepLogin">
                    <label for="keepLogin" class="lab_g">
            <span class="img_top ico_check"></span>
            <span class="txt_lab">로그인 상태 유지</span>
            </label>
                    </div>
                    <span class="txt_find">
                    <a href="/member/find/loginId" class="link_find">아이디</a>
                        /
                    <a href="/member/find/password" class="link_find">비밀번호 찾기</a>
                    </span>
                </div>

                </fieldset>
            </form>

        </div>
    </div>
  <script src = "{% static 'js/login_menu.js' %}"></script>
  </body>
</html>
