<!DOCTYPE html>
{% load staticfiles %}
<html lang="kr" dir="ltr">

<head>
  <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <title></title>


</head>

<body id='body'>
  <div id="box">
    <div id="top">
      <a href=" ">
        <img id="logo" src="{% static 'img/sowl_log.png' %}" alt="소울!">
      </a>
    </div>
    <div id="left">
      {% if not user.is_authenticated %}
      <div class="dark-button-2 button-wrapper">
        <div class="button">
          <a href="/login" class = "login-botton">로그인</a>
        </div>
      </div>
      {% else %}
      <div class="user-panel">
        <div class="pull-left-info">
          <p>
            <a href="javascript:;" onclick="showSideView(this, '@nv-bbb5078', '{{ user.last_name }}{{ user.first_name }}', '', '');">
              <!-- 네이버는 여기다가 엄청 복잡하게 넣어놨는데 모르겠으면 같이 찾아드림 -->
              <span class="member">
                {{ user.last_name }}{{ user.first_name }}
              </span>
            </a>
          </p>
          <span>
            <a href="#" target="_blank" class="win_point">
              <!-- #에다가 내벌점 확인할구있는 곧으로 이동하는 사이트 주소 -->
              <span>내 벌점 &nbsp;&nbsp;</span>
              <span>
                {{ mypoint }}
                점
                <!--  여기다가 점수 숫자표기 -->
              </span>
            </a>
          </span>
        </div>
        <div class="">
          <a class="project-btu" href="#">
            <span>내 프로잭트
            </span>
          </a>
          <a class="logout-btu" href="/logout">
            <span>로그아웃
            </span>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
    <div id="main">
      <div class="navi">
        <nav id="navi">
          <ul>
            <li><a class="menuLink" href="#">자유게시판</a></li>
            <li><a class="menuLink" href="#">프로잭트게시판</a></li>
            <li><a class="menuLink" href="#">동아리소식</a></li>
            <li><a class="menuLink" href="#">회칙</a></li>
          </ul>
        </nav>
      </div>
      <div class="row-1">
        <div class="col-lg-6 col-15">
          <div class="main-box">
            <div class="main-head">
              <a href="#">
                <span class="pull-right main-more">+더보기</span>
                  공지사항
              </a>
            </div>
            <div class="miso-post-list">
              <div class="post-wrap">

                <ul class="post-list">
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-15">
          <div class="main-box">
            <div class="main-head">
              <a href="#">
                <span class="pull-right main-more">+더보기</span>
                  자유게시판
              </a>
            </div>
            <div class="miso-post-list">
              <div class="post-wrap">

                <ul class="post-list">
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-2">
        <div class="col-lg-6 col-15">
          <div class="main-box">
            <div class="main-head">
              <a href="#">
                <span class="pull-right main-more">+더보기</span>
                  프로잭트게시판
              </a>
            </div>
            <div class="miso-post-list">
              <div class="post-wrap">

                <ul class="post-list">
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-15">
          <div class="main-box">
            <div class="main-head">
              <a href="#">
                <span class="pull-right main-more">+더보기</span>
                  사진게시판
              </a>
            </div>
            <div class="miso-post-list">
              <div class="post-wrap">

                <ul class="post-list">
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                  <li class="post-row">
                    <a href="#" class="ellipsis">
                      테스트 </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
