<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <title></title>
</head>

<body id='body'>
  <div id ="box">
    <div id="top">
      <a href="index.html">
        <img id = "logo" src="{% static 'img/sowl_log.png' %}" alt="소울!">
      </a>
    </div>
    <div id="left">
      <div class="dark-button-2 button-wrapper">
        <div class="button">
          {% if not user.is_authenticated %}
          <a href="/login" class = "login-botton">로그인</a>
          {% else %}
          <a href="/logout" class = "login-botton">로그아웃</a>
          {% endif %}
        </div>
      </div>
    </div >
    <div id="main">
      <nav id = "navi">
        <ul>
          <li><a class="menuLink" href="#">자유게시판</a></li>
          <li><a class="menuLink" href="#">프로잭트게시판</a></li>
          <li><a class="menuLink" href="#">동아리소식</a></li>
          <li><a class="menuLink" href="#">회칙</a></li>
        </ul>
      </nav>
    </div>
  </div>

</body>

</html>
