{% extends 'main/base.html' %}

{% block content %}
<div class="row-1">
  <div class="col-lg-6 col-15">
    <div class="main-box">
      <div class="main-head">
        <a href="#">
          <span class="pull-right main-more">+더보기</span>
          공지사항
        </a>
      </div>
      <div class="miso-post-list">
        <div class="post-wrap">

          <ul class="post-list">
            <li class="post-row">
              <a href="#" class="ellipsis">
                테스트 </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-15">
    <div class="main-box">
      <div class="main-head">
        <a href="#">
          <span class="pull-right main-more">+더보기</span>
          자유게시판
        </a>
      </div>
      <div class="miso-post-list">
        <div class="post-wrap">

          <ul class="post-list">
            <li class="post-row">
              <a href="#" class="ellipsis">
                테스트 </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-2">
  <div class="col-lg-6 col-15">
    <div class="main-box">
      <div class="main-head">
        <a href="#">
          <span class="pull-right main-more">+더보기</span>
          프로잭트게시판
        </a>
      </div>
      <div class="miso-post-list">
        <div class="post-wrap">

          <ul class="post-list">
            <li class="post-row">
              <a href="#" class="ellipsis">
                테스트 </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-15">
    <div class="main-box">
      <div class="main-head">
        <a href="#">
          <span class="pull-right main-more">+더보기</span>
          사진게시판
        </a>
      </div>
      <div class="miso-post-list">
        <div class="post-wrap">
          <ul class="post-list">
            <li class="post-row">
              <a href="#" class="ellipsis">
                테스트 </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}