<!DOCTYPE html>
{% extends 'main/base.html' %}
{% block content %}
{% load static %}

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="../../../../Downloads/front--master/front--master/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link href="../../../../Downloads/front--master/front--master/css/writing.css" rel="stylesheet" type="text/css" />
</head>

<body id='body'>
  <div id="box">
    <div id="top">
      <a href="../../../../Downloads/front--master/front--master/index.html">
        <img id="logo" src="../../../../Downloads/front--master/front--master/images/sowl_log.png" alt="소울!">
      </a>
    </div>
    <div id="left">
      <div class="user-panel">
        <div class="pull-left-info">
          <p>
            <a href="javascript:;" onclick="showSideView(this, '@nv-bbb5078', '황창훈', '', '');">
              <!-- 네이버는 여기다가 엄청 복잡하게 넣어놨는데 모르겠으면 같이 찾아드림 -->
              <span class="member"> 황창훈
              </span>
            </a>
          </p>
          <span>
            <a href="#" target="_blank" class="win_point">
              <!-- #에다가 내벌점 확인할구있는 곧으로 이동하는 사이트 주소 -->
              <span>내 벌점 &nbsp;&nbsp;</span>
              <span>
                점
                <!--  여기다가 점수 숫자표기 -->
              </span>
            </a>
          </span>
        </div>
        <div class="">
          <a class="project-btu" href="#">
            <span>내 프로잭트
            </span>
          </a>
          <a class="logout-btu" href="#">
            <span>로그아웃
            </span>
          </a>
        </div>
      </div>
    </div>
    <div id="main">
      <div class="navi">
        <nav id="navi">
          <ul>
            <li><a class="menuLink" href="#">자유게시판</a></li>
            <li><a class="menuLink" href="#">프로잭트게시판</a></li>
            <li><a class="menuLink" href="#">동아리소식</a></li>
            <li><a class="menuLink" href="#">회칙</a></li>
          </ul>
        </nav>
      </div>
      <div class="container">
      <table class="table table-bordered">
          <tbody>
              <form action="write_ok.jsp" method="post" encType="multiplart/form-data">
                  <tr>
                      <th>제목: </th>
                      <td><input type="text" placeholder="제목을 입력하세요. " name="subject" class="form-control"/></td>
                  </tr>
                  <tr>
                      <th>내용: </th>
                      <td><textarea cols="10" placeholder="내용을 입력하세요. " name="content" class="form-control"></textarea></td>
                  </tr>
                  <tr>
                      <th>첨부파일: </th>
                      <td><input type="text" placeholder="파일을 선택하세요. " name="filename" class="form-control"/></td>
                  </tr>
                  <tr>
                      <th>비밀번호: </th>
                      <td><input type="password" placeholder="비밀번호를 입력하세요" class="form-control"/></td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <input type="button" value="등록" onclick="sendData()" class="pull-right"/>
                          <input type="button" value="reset" class="pull-left"/>
                          <input type="button" value="글 목록으로... " class="pull-right" onclick="javascript:location.href='table1.html'"/>

                      </td>
                  </tr>
              </form>
          </tbody>
      </table>
      </div>

    </div>
  </div>
<script type="text/javascript" href="js/bootstrap.js"></script>
</body>

</html>

{% endblock %}
