<!DOCTYPE html>
{% extends 'main/base.html' %}
{% block content %}
{% load static %}

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title></title>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href="{% static 'css/writing.css' %}" rel="stylesheet" type="text/css" />
</head>


<div class="container">
    <table class="table table-bordered">
        <tbody>
        <form method="post" encType="multiplart/form-data">{% csrf_token %}
            <tr>
                <th>제목: </th>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <th>내용: </th>
                <td>{{ form.text }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="등록" onclick="sendData()" class="pull-right"/>
                    <input type="button" value="reset" class="pull-left"/>
                    <input type="button" value="글 목록으로... " class="pull-right" onClick="location.href ='.'"/>

                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>

</div>
</div>
<script type="text/javascript" href="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>

{% endblock %}
