.table-sec{
  width: 809px;
  height: 600px;
  margin-top: 16px;
  margin-left: 40px;
    padding-top: 30px;
  background-color: #2d2d2d;
}
.table-background{
  width: 750px;
  height: 500px;
  margin-left: 31px;
  background-color: white;
}
.table{
  font-size: 12px;
}
